<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>issue chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="이슈채팅" />
    <meta property="og:locale" content="ko_KR" />


    <meta property="og:url" content="http://kyj9168.ddns.net:6101/">
    <meta property="og:site_name" content="이슈채팅">
    <meta property="og:image" content="http://kyj9168.ddns.net:6101/images/ogImage.png">
    <meta property="og:description" content="열심히 수다를 떨어보세요! 현재 어떤 키워드가 가장 많이 언급되는지 주요 키워드만 쏙쏙 보여드려요." />

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<body>
    <ul class="pages">
        <li class="chat page">
            <div class="chatArea">
                <ul class="messages"></ul>

                <div class="pop_keyword_div">

                </div>
            </div>
            <input class="inputMessage" placeholder="채팅에서 주요 키워드만 쏙쏙 보여드려요." />
        </li>
        <li class="login page">
            <div class="loginMain">이슈 토론방</div>
            <div class="form">
                <h3 class="title">닉네임을 입력해 주세요.</h3>
                <input class="usernameInput" type="text" maxlength="14" />
            </div>
        </li>
    </ul>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>
</body>

</html>