/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

html,
input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
        sans-serif;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #6d7d7b;
    border-radius: 10px;
    background-clip: padding-box;
}

.messages::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #6d7d7b;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 0px;
    /* width: 400px; */
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    display: none;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
    clear: both;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 60px;
}

.messages {
    font-size: 150%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message {
    font-size: 15px;
    clear: both;
    margin-top: 10px;
    display: grid !important;
    padding: 5px;
    /* border: 3px solid #78a6a4; */
    background-color: #fff;
    width: fit-content;
}

.messageBody {
    padding: 7px;
    width: fit-content;
    word-break: break-all;
    white-space: normal;
}

.messageBody.left {
    border-radius: 0px 15px 15px 15px;
    background-color: #78a6a4;
    color: #fff;
    border: 1px solid #6d7d7b;
}

.messageBody.right {
    border-radius: 15px 0px 15px 15px;
    background-color: #efefef;
    border: 1px solid #999;
    margin-left: auto;
}

.message.right {
    text-align: right;
    float: right;
}

.message.left {
    text-align: left;
    float: left;
}

.message.typing .messageBody {
    color: #fff;
}

.username {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-shadow: -1px 0 rgb(117, 117, 117), 0 1px rgb(117, 117, 117), 1px 0 rgb(117, 117, 117),
        0 -1px rgb(117, 117, 117);
    /* padding-right: 15px; */
}

.username.right {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 10px solid #6d7d7b;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.loginMain {
    height: 100px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    color: #fff;
    font-size: 40px;
}

.time.right {
}

.time.left {
}

.time {
    display: contents;
    font-size: 10px;
    color: #777;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > div {
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    animation: loader 0.3s infinite alternate;
}

.loader > div:nth-child(2) {
    animation-delay: 0.1s;
}

.loader > div:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes loader {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

.pop_keyword_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    text-align: center;
    /* background-color: #fff; */
}

.pop_keyword_div > p {
    background-color: #fff;
    display: inline;
    padding: 5px;
    border-radius: 15px;
    cursor: default;
}
